<header id="HeaderPart">
  <div class="container">
    <div class="row align-items-center">
      <div class="col">
        <a href="/" class="text-decoration-none text-white">
          <h3 class="mb-0">Blog</h3>
        </a>
      </div>
      <div class="col text-end">
        <a class="text-light text-decoration-none me-3" href="/">Home</a>
        <a class="text-light text-decoration-none me-3" href="/about">About</a>
        <a class="text-light text-decoration-none me-3" href="/contact"
          >Contact</a
        >
        <a class="text-light text-decoration-none" href="/admin">Admin</a>
      </div>
    </div>
  </div>
</header>
